<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/bootstrap.min.css' %}" >
    <title>Document</title>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4" style="margin-right: auto; font-size: 21px">Evlanov Maxim's portfolio</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="https://github.com/rublock" class="nav-link">Github</a></li>
        <li class="nav-item"><a href="https://github.com/rublock" class="nav-link">CV download</a></li>
        <li class="nav-item"><a href="{% url 'blog:all_blogs' %}" class="nav-link">Blog</a></li>
      </ul>
    </header>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="container mainContainer">
        {% for i in projects %}
            <div style="margin: 0 20px 20px 20px;">
              <div class="card shadow-sm">
                <img src="{{ i.image.url }}">
                <div class="card-body">
                    <h2 class="card-text">{{ i.title }}</h2>
                  <p class="card-text">{{ i.description|truncatechars:100 }}</p>
                    {% if i.url%}
                        <a href="{{ i.url }}" class="btn btn-primary" style="margin-bottom: 7px;">
                            WEB site&nbsp;<img src="{% static 'portfolio/img/web.png' %}" style="width: 20px; margin-bottom: 3px;"/>
                        </a>
                    {% endif %}
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="skillsContainer">
                          {% for v in i.tech.values %}
                            <span class="badge bg-light text-dark h-50 border border-dark">{{ v }}</span>
                          {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>
</body>
</html>