img {
	width: 100%;
	heigth: auto;
	}

.mainContainer {
    display: flex;
    }

@media screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    }

.skilssConatiner {
    display: flex;
}