<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello blogs!</h1>
    {% for i in blog %}
    {{ i.description }}
    <br>
    <img src="{{ i.image.url }}" style="width: 550px; height: auto;">
    {% if i.url %}
    <br>
    <a href="{{ i.url }}">link</a>
    {% endif %}
    {% endfor %}
</body>
</html>